<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- 业务日志-“数据库”记录器 -->
  <appender name="DataLogAdoAppender" type="DataStatisticsApi.Log.DataLogAdoAppender">
    <!-- 依赖的数据库链接名称 -->
    <connectionStringName value="ConnectionString"/>
    <!-- 缓存条数，到达value值时批量插入，1为每次都插入。实际环境根据日志量设置500或者更多-->
    <bufferSize value="1"/>
  </appender>
  <root>
    <level value="DEBUG" />
  </root>
  <!-- 自定义记录日志-->
  <logger name="DataLogAdoAppenderLogger">
    <!--信息级别仅限(FATAL)-->
    <level value="INFO" />
    <!--日志配置，ref对应appender配置-->
    <appender-ref ref="DataLogAdoAppender" />
  </logger>
</log4net>